.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ca9650;
  color: aliceblue;
  height: 100%;
  width: 100%
}

.fighter-preview___img{
  height: 390px;
  width: 390px;
}